/* Default Typography Styles */
@import '_fonts.css';

/* @import '_typography.css'; */

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Custom */
html {
  min-height: 101%;
  scroll-behavior: smooth;
}

html,
body {
  @apply font-sans antialiased leading-relaxed text-secondary-dark
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.hosting-options {
  li {
    @apply flex items-center justify-center h-20 p-4 text-center border-b border-gray-100;

    &:nth-of-type(even) {
      @apply relative bg-gray-100;
    }

    &:last-of-type {
      @apply border-0;
    }
  }
}


@screen lg {

  .hosting-options .option-list li {
    @apply justify-end pr-6;

    &:nth-of-type(even):before {
      content: '';
      @apply absolute top-0 left-0 w-full h-full;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }
  }
  
}


/* Mobile menu button */
.btn-menu {
  @apply absolute top-0 right-0 z-50 flex flex-col items-start justify-around w-10 h-10 mt-10 mr-10 outline-none;

  &:focus {
    @apply outline-none;
  }

  &:hover span:nth-child(2) {
    @apply w-full;
  }
}

.btn-menu span {
  @apply relative w-10 transition-all duration-300 bg-white;
  transform-origin: 0;
  height: .125rem;
}

.btn-menu span:nth-of-type(2) {
  @apply w-10/12; 
}

.btn-menu.open span {
    &:first-child {
      transform: rotate(45deg);
      @apply w-9
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      @apply w-9
    }
}

.content {
  p {
    @apply mb-4;
  }
}